<h2>Listing customers</h2>
<p class="add-link"><%= link_to 'New customer', new_customer_path %></p>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= link_to customer.name, customer %></td>
    <td><ul class="toolbar">
		<li class="edit-link"><%= link_to 'Edit', edit_customer_path(customer) %></li>
    	<li class="remove-item"><%= link_to 'Delete', customer, :confirm => 'Are you sure?', :method => :delete %></li>
		</ul>
	</td>
  </tr>
<% end %>
</table>

<br />

